doctype html
html(lang="de")
  head
    title Conveter
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    script(type="text/javascript", src="//code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript", src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/frontend.js")
  body
    div(id="main").container 
        block content
    